@import "partials/_setup.scss";
@import "partials/_utils.scss";
@import "partials/_typography.scss";

a,
a:visited,
a:link {
  color: lightskyblue;
  font-weight: 100;
  transition: 0.2s;
}

a:hover {
  color: #edac53;
  transition: 0.2s;
}

.App {
  text-align: center;
}

.swal2-popup {
  font-size: 1.6rem !important;
}

/* =====================
HOME-PAGE
====================== */

.home-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: lightsteelblue;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) center
      center / cover,
    url(./assets/hero-image.jpg);

  position: relative;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-name {
  margin: 0;
  color: whitesmoke;
}

.app-description {
  color: whitesmoke;
  width: 60%;
  margin: 2.5rem;
}

.loading-description {
  color: whitesmoke;
}

.loading-form {
  position: relative;
}

.search-button {
  position: absolute;
  right: 2rem;
  font-size: 2rem;
  background: none;
  border: none;
  color: whitesmoke;
  transition: 0.2s;
  margin-left: 1rem;

  .fa-search {
    background-color: none;
    vertical-align: middle;
  }
}

.loading-container {
  position: absolute;
  bottom: 125px;
}

.copyright {
  position: absolute;
  color: gray;
  font-weight: 100;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 1rem;
}

.portfolio-link:visited,
.portfolio-link:link {
  color: gray;
  text-decoration: none;
  transition: 0.2s;
}

.portfolio-link:hover,
.load-button:hover,
.search-button:hover {
  color: #edac53;
  transition: 0.2s;
}

/* =====================
AUTOCOMPLETE
====================== */

.search-form {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  padding: 2rem;
  position: relative;
}

#states-autocomplete {
  border: none;
  font-size: 2rem;
  background: none;
  width: 40rem;
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid whitesmoke;
  // color: whitesmoke;
  color: #edac53;

  &::placeholder {
    font-size: 1.6rem;
    text-align: left;
    // color: whitesmoke;
    color: #edac53;
    opacity: 0.9;
  }

  &:focus:focus-within::placeholder {
    font-size: 0;
  }
}

.load-field {
  @extend #states-autocomplete;
  width: 22rem;
  font-size: 1.6rem;
}

.load-button {
  @extend .search-button;
  font-size: 2.5rem;
  position: absolute;
  transition: 0.2s;
  margin-left: 1rem;

  .fa-arrow-circle-right {
    background-color: none;
    vertical-align: middle;
  }
}

.menu {
  position: absolute;
  max-height: 300px;
  width: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;
  z-index: 9999;
}

.item {
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  border-bottom: 1px dotted whitesmoke;
  background-color: rgba(25, 25, 25, 1);
  font-size: 0.9rem;
  color: whitesmoke;
  list-style: none;
  display: flex;
  justify-content: space-around;

  &:first-child {
    border-top: 1px solid whitesmoke;
  }

  &:last-child {
    border-bottom: 1px solid whitesmoke;
  }

  .item-name,
  .item-ticker {
    margin: 0;
    text-align: left;
  }

  .item-name {
    flex: 0 0 50%;
  }

  .item-ticker {
    flex: 0 0 17.5%;
    align-self: center;
  }
}

.item-highlighted {
  // background-color: whitesmoke;
  background-color: #edac53;
  color: $color-1;
}

// .search-placeholder {
//   position: absolute;
//   color: whitesmoke;
//   left: 120px;
//   bottom: 30px;
//   font-size: 1.6rem;
//   transition: 1s;

//   &:hover {
//     font-size: 1.2rem;
//     left: 20px;
//     bottom: 40px;
//     transition: 1s;
//   }
// }

/* =====================
RESULTS SECTION
====================== */

.results {
  width: 100%;
  height: 100vh;
  display: flex;
}

.company-profile {
  // border: 1px solid black;
  border: 1px solid $color-1;

  width: 25%;
  // flex: 1 0 25%;
  padding: 2rem;
  text-align: left;
  h3 {
    margin-bottom: 0;
  }
  h5 {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  background-color: #4b4d51;
  color: whitesmoke;
}

.company-name {
  margin-bottom: 0;
}

.company-ticker {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid whitesmoke;
}

.company-ticker,
.company-sector,
.company-industry {
  margin: 0;
}

.company-exchange {
  h4 {
    margin-top: 4rem;
    margin-bottom: 0;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.company-description {
  line-height: 2rem;
  margin: 3rem 0;
}

.company-fs {
  // border: 1px solid black;
  width: 75%;
  // flex: 1 0 75%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: whitesmoke;
}

.no-results-header {
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.list-of-fsli {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}

.select-div {
  width: 100%;
  padding: 0;

  select {
    padding: 0;
    width: 100%;

    font-size: 1.3rem;

    option {
      font-size: 2rem;
    }
  }
}

.single-fsli-container {
  // flex: 0 0 15%;
  width: 33%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.yearly-results {
  list-style: none;
  padding: 0;
}

.yearly-result {
  display: flex;
  justify-content: space-between;

  .year,
  .result {
    margin: 0;
  }
}

.raw-results-container {
  width: 100%;
  // flex: 0 0 30%;
  height: 32.5%;
  border-top: 1px solid $color-1;
  border-right: 1px solid $color-1;
  border-bottom: 1px solid $color-1;

  padding: 1rem;
  background-color: whitesmoke;
}

.save-button {
  font-size: 150%;
  padding: 2rem;
  border: 1px solid $color-1;
  transition: 0.2s;

  &:hover {
    color: #edac53;
    border-color: whitesmoke;
    background-color: #4b4d51;
    transition: 0.2s;
  }
}

.currency-explanation,
.results-title {
  margin: 0;
}

.results-title {
  margin-top: 1rem;
}

.currency-explanation {
  margin-bottom: 1rem;
}

.chart-container {
  // border: 1px solid black;
  border-right: 1px solid $color-1;
  border-bottom: 1px solid $color-1;
  background-color: white;

  padding: 1rem;
  // flex: 1 0 40%;
  height: 67.5%;
  width: 100%;
}

.fsli-title {
  margin: 0;
}

.swal2-popup {
  font-size: 1.6rem !important;
}
