article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201c \201d \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html {
  font-family: serif;
  font-size: 62.5%; }

body {
  color: #282828; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.7rem; }

h6 {
  font-size: 1.6rem; }

p {
  font-size: 1.6rem;
  font-family: sans-serif; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

a,
a:visited,
a:link {
  color: lightskyblue;
  font-weight: 100;
  transition: 0.2s; }

a:hover {
  color: #edac53;
  transition: 0.2s; }

.App {
  text-align: center; }

.swal2-popup {
  font-size: 1.6rem !important; }

.home-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) center center/cover, url(./assets/hero-image.jpg);
  position: relative; }

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.app-name {
  margin: 0;
  color: whitesmoke;
  width: 70%;
  margin: 0 auto; }

.app-description {
  color: whitesmoke;
  width: 60%;
  margin: 2.5rem auto; }

/* AUTOCOMPLETE / SEARCH BAR */
.search-button {
  font-size: 2rem;
  background: none;
  color: #282828;
  transition: 0.2s;
  background-color: whitesmoke;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  border: 1px solid #282828;
  border-radius: 7px; }
  .search-button .fa-search {
    background-color: none;
    vertical-align: middle; }
  .search-button h3 {
    margin: 0; }

.search-button:hover {
  transition: 0.2s;
  background-color: #282828;
  color: whitesmoke;
  border-color: #edac53; }

.search-form {
  border-radius: 7px;
  position: relative;
  width: 100%;
  max-width: 40rem; }

#states-autocomplete, .load-field {
  border: none;
  font-size: 2rem;
  background: none;
  width: 100%;
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid whitesmoke;
  color: #edac53; }
  #states-autocomplete::placeholder, .load-field::placeholder {
    font-size: 1.6rem;
    text-align: center;
    color: #edac53;
    opacity: 0.9; }
  #states-autocomplete:focus:focus-within::placeholder, .load-field:focus:focus-within::placeholder {
    font-size: 0; }

.menu {
  position: absolute;
  max-height: 300px;
  width: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;
  z-index: 9999;
  padding-right: 4rem; }

.item {
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  border-bottom: 1px dotted whitesmoke;
  background-color: #191919;
  font-size: 0.9rem;
  color: whitesmoke;
  list-style: none;
  display: flex;
  justify-content: space-around; }
  .item:first-child {
    border-top: 1px solid whitesmoke; }
  .item:last-child {
    border-bottom: 1px solid whitesmoke; }
  .item .item-name,
  .item .item-ticker {
    margin: 0;
    text-align: left; }
  .item .item-name {
    flex: 0 0 50%; }
  .item .item-ticker {
    flex: 0 0 17.5%;
    align-self: center; }

.item-highlighted {
  background-color: #edac53;
  color: #282828; }

/* LOADING BAR */
.loading-description {
  color: whitesmoke; }

.loading-form {
  position: relative; }

.loading-container {
  position: absolute;
  bottom: 10%; }

.load-field {
  width: 22rem;
  font-size: 1.6rem; }

.load-button {
  color: whitesmoke;
  background: none;
  font-size: 2.5rem;
  position: absolute;
  transition: 0.2s;
  margin-top: 0;
  margin-left: 1rem;
  border: none; }
  .load-button .fa-arrow-circle-right {
    background-color: none;
    vertical-align: middle; }

/* COPYRIGHT */
.copyright-container {
  position: absolute;
  color: gray;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 1rem; }
  .copyright-container .copyright {
    font-weight: 100;
    margin: 0; }

.portfolio-link:visited,
.portfolio-link:link {
  color: gray;
  text-decoration: none;
  transition: 0.2s; }

.portfolio-link:hover,
.load-button:hover {
  transition: 0.2s;
  color: #edac53; }

.results {
  width: 100%;
  height: 100vh;
  display: flex; }

/* COMPANY PROFILE  */
.company-profile {
  border: 1px solid #282828;
  overflow: hidden;
  width: 25%;
  padding: 2rem;
  text-align: left;
  background-color: #4b4d51;
  color: whitesmoke; }
  .company-profile h3 {
    margin-bottom: 0; }
  .company-profile h5 {
    margin-top: 0;
    margin-bottom: 1rem; }

.profile-general-sec-1,
.profile-general-sec-2,
.profile-general-sec-3 {
  overflow: hidden; }

.company-name {
  margin-bottom: 0;
  overflow: hidden; }

.company-ticker {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid whitesmoke; }

.company-ticker,
.company-sector,
.company-industry {
  margin: 0; }

.company-exchange h4 {
  margin-top: 4rem;
  margin-bottom: 0; }

.space-between {
  display: flex;
  justify-content: space-between; }

.company-description {
  line-height: 2rem;
  margin: 3rem 0; }

.profile-value {
  text-align: right;
  font-weight: 400; }

.save-button {
  font-size: 150%;
  padding: 2rem;
  border: 1px solid #282828;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center; }
  .save-button:hover {
    color: #edac53;
    border-color: whitesmoke;
    background-color: #4b4d51;
    transition: 0.2s; }
  .save-button h5 {
    margin: 0;
    font-weight: 400; }

/* COMPANY FS */
.company-fs {
  width: 75%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: whitesmoke; }

.no-results-header {
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0; }

.list-of-fsli {
  display: flex;
  justify-content: space-evenly;
  text-align: left; }

.select-div {
  width: 100%;
  padding: 0; }
  .select-div select {
    padding: 0;
    width: 100%;
    font-size: 1.3rem; }
    .select-div select option {
      font-size: 2rem; }

.single-fsli-container {
  width: 33%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.yearly-results {
  list-style: none;
  padding: 0; }

.yearly-result {
  display: flex;
  justify-content: space-between; }
  .yearly-result .year,
  .yearly-result .result {
    margin: 0; }

.raw-results-container {
  width: 100%;
  height: 32.5%;
  border-top: 1px solid #282828;
  border-right: 1px solid #282828;
  border-bottom: 1px solid #282828;
  padding: 1rem;
  background-color: whitesmoke; }

.currency-explanation,
.results-title {
  margin: 0; }

.results-title {
  margin-top: 1rem; }

.currency-explanation {
  margin-bottom: 1rem; }

.chart-container {
  border-right: 1px solid #282828;
  border-bottom: 1px solid #282828;
  background-color: white;
  padding: 1rem;
  height: 67.5%;
  width: 100%; }

.fsli-title {
  margin: 0; }

@media all and (max-height: 850px) {
  .raw-results-container {
    height: 40%; }
  .chart-container {
    height: 60%; } }

@media all and (max-height: 800px) {
  .menu {
    max-height: 200px; } }

@media all and (max-height: 750px) {
  .home-page-container {
    margin-bottom: 7.5rem; } }

@media all and (max-height: 750px) {
  html {
    font-size: 57.5%; }
  .home-page-container {
    margin-bottom: 10rem; }
  .app-description {
    width: 85%; }
  .search-form {
    width: 90%; } }

@media all and (max-height: 600px) {
  .fsli-title {
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis; } }

@media all and (max-height: 575px) {
  .menu {
    max-height: 150px; }
  .save-button {
    padding: 0.5rem; } }

@media all and (max-width: 1000px) {
  .results {
    flex-direction: column;
    border: 1px solid #282828; }
  .company-profile {
    border: 0;
    width: 100%;
    height: 15%;
    display: flex; }
    .company-profile h1,
    .company-profile h2,
    .company-profile h3,
    .company-profile h4,
    .company-profile h5,
    .company-profile h6,
    .company-profile .company-description {
      margin: 0; }
  .profile-general-sec-1 {
    border-right: 1px solid whitesmoke;
    padding-right: 1rem;
    display: flex;
    flex-direction: column; }
  .company-name {
    font-size: 2.5rem; }
  .company-ticker {
    border: none;
    padding: 0; }
  .profile-general-sec-2 {
    margin-left: 1rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 35%; }
  .profile-general-sec-3 {
    display: none; }
  .raw-results-container {
    border: 0;
    border-top: 1px solid #282828;
    border-bottom: 1px solid #282828; }
  .company-fs {
    width: 100%;
    height: 85%;
    border: 0; }
  .chart-container {
    border: 0; }
  .results-title,
  .currency-explanation {
    margin: 0;
    display: flex;
    align-items: center; }
  .results-title {
    margin-right: 1rem; }
  .currency-explanation {
    font-size: 3rem; }
  .results-header {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem; } }

@media all and (max-width: 700px) {
  html {
    font-size: 57.5%; }
  .results-header {
    padding-top: 1.5rem;
    margin-bottom: 1rem; }
  .results-title,
  .currency-explanation {
    font-size: 2.2rem; }
  .fsli-title {
    font-size: 1.9rem; }
  .single-fsli-container {
    padding: 1rem 0.5rem 0.5rem 0.5rem; }
  .yearly-results h5 {
    font-size: 1.6rem; } }

@media all and (max-width: 600px) {
  .company-profile {
    height: 7.5%;
    padding: 1rem; }
  .save-button {
    padding: 0; }
  .profile-general-sec-1 {
    width: 100%;
    border-right: none;
    justify-content: center; }
  .profile-general-sec-2 {
    display: none; }
  .company-fs {
    height: 92.5%; }
  .results-header {
    margin-bottom: 1.5rem; }
  .results-title,
  .currency-explanation {
    font-size: 2.5rem; }
  .list-of-fsli {
    flex-direction: column; }
  .single-fsli-container {
    width: 100%;
    padding: 0; }
  .fsli-title {
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis; }
  .yearly-results {
    display: none; }
  .select-div {
    width: 100%; } }

@media all and (max-width: 450px) {
  .company-profile {
    padding: 0.5rem 1rem; }
  .company-name {
    font-size: 2rem; }
  .company-ticker {
    font-size: 1.8rem; } }

@media all and (max-height: 750px) and (max-width: 1000px) {
  .company-profile {
    justify-content: space-between;
    padding: 0.5rem 1rem;
    height: 10%; }
  .company-fs {
    height: 90%; }
  .profile-general-sec-2 {
    display: none; }
  .profile-general-sec-1 {
    border-right: none; } }

@media all and (max-height: 650px) and (max-width: 1000px) {
  .yearly-results {
    display: none; } }

@media all and (max-height: 500px) and (max-width: 1000px) {
  html {
    font-size: 55.5%; }
  .profile-general-sec-1 {
    flex-direction: row;
    align-items: center; }
  .company-name,
  .company-ticker {
    font-size: 2rem; }
  .company-profile .company-ticker {
    margin-left: 1rem; }
  .raw-results-container {
    height: 30%; }
  .chart-container {
    height: 70%; }
  .fsli-title {
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis; } }

@media all and (max-height: 400px) and (max-width: 1000px) {
  .results-header {
    margin: 0;
    padding: 0; } }

@media all and (max-width: 400px) {
  html {
    font-size: 55%; }
  .search-form {
    width: 90%; }
  .home-page-container {
    margin-bottom: 10rem; } }

@media all and (max-height: 400px) {
  .app-description {
    display: none; }
  .home-page-container {
    margin-bottom: 7rem; }
  .app-name {
    margin-bottom: 1rem; }
  .loading-description {
    margin-bottom: 0; }
  .menu {
    max-height: 100px; }
  .list-of-fsli {
    flex-direction: row; } }

@media all and (max-width: 350px) {
  .profile-general-sec-1 {
    flex-direction: row;
    align-items: center;
    padding-right: 0; }
  .company-profile .company-ticker {
    margin-left: 0.5rem; }
  .raw-results-container {
    height: 40%; }
  .chart-container {
    height: 60%; }
  .home-page-container {
    margin-bottom: 10rem; }
  .single-fsli-container {
    padding: 0; }
  .results-header {
    margin-bottom: 0.5rem; } }

@media all and (max-height: 350px) {
  .profile-general-sec-1 {
    justify-content: space-between;
    width: 100%; }
  .company-profile .company-ticker {
    margin-left: 0.5rem; }
  .save-button {
    width: 80%;
    font-size: 1.2rem; }
  .raw-results-container {
    height: 35%; }
  .chart-container {
    height: 65%; } }
